In [2]:
import pandas as pd
import sys
%matplotlib inline

In [3]:
print('Python version ' + sys.version)
print('Pandas version ' + pd.__version__)

Python version 3.5.0 (v3.5.0:374f501f4567, Sep 13 2015, 02:27:37) [MSC v.1900 64 bit (AMD64)]
Pandas version 0.17.0rc1

# Sort

### How do I sort a column ascending?

In [4]:
# dataframe
df = pd.DataFrame(data={'col1':[0,10,2,30,4]})
df

   col1
0     0
1    10
2     2
3    30
4     4

In [6]:
# Sort by col1 ascending
df.sort_values(by='col1')

   col1
0     0
2     2
4     4
1    10
3    30

### How do I sort by the index?

In [7]:
# Unordered index

d = {'col2':[22,10,113]}

i = [pd.Timestamp('20130102'),
     pd.Timestamp('2013-01-01'),
     pd.Timestamp('1/3/2013')]
                 

df = pd.DataFrame(data=d, index = i)
df

            col2
2013-01-02    22
2013-01-01    10
2013-01-03   113

In [8]:
# Index sorted ascending
df.sort_index()

            col2
2013-01-01    10
2013-01-02    22
2013-01-03   113

**Author:** [David Rojas](http://www.hedaro.com/)  

**Updated by:** [James Lao](http://jlao.net/)